/*----About US----*/


.aboutUsTitle{
    display: block;
    position: relative;
    top: 125px;
    font-family: PerfectDark;
    font-size: 60px;
    text-align: center;
}

.dexow{
    position: absolute;
    left: 210px;
    top: 400px;
    font-family: PerfectDark;
    font-size: 50px;
}

.dexLogo{
    display: block;
    position: absolute;
    width: 100px;
    top: 470px;
    left: 260px;
}

.dexowDes{
    position: absolute;
    display: inline-block;
    top: 600px;
    left: 100px;
    text-align: center;
    font-family: neutropolitical;
}

.dexowPro{
    display: block;
    left: 0%;
}

/*----Fortnite----*/

.fortnite{
    display: block;
    background:#2e3131;
    color: #2e3131;
}

.fortniteTitle{
    display: block;
    position: relative;
    font-size: 50px;
    font-family: NeverSayDie;
    left: 41%;
    top: 100px;
}

.fortnite-banner{
    display: block;
    position: absolute;
    height: 500px;
    width: 100%;
}

.fortniteImages{
    background: #2e3131;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 379.7px;
    height: 200px;
    position: relative;
    top: 500px;
}

.fortnite-des{
    display: block;
    position: relative;
    top: 550px;
    font-size: 40px;
    text-align: center;
    font-family: NeverSayDie;
    text-emphasis: none;
}

.imagesArea-fortnite{
    position: absolute;
    top: 2000px;
}