/*----Games----*/

.gamesPage{
    display: block;
    position: relative;
}

.GP-fortniteTitle{
    display: block;
    position: absolute;
    font-family: PerfectDark;
    color: #2e3131;
    text-decoration: none;
    top: 200px;
    left: 42%;
    font-size: 50px;
}

.GP-fortniteImg{
    display: block;
    position: relative;
    top: 250px;
    left: 6%;
    height: 800px;
    width: 90%;
}

.GP-pubgTitle{
    display: block;
    position: absolute;
    font-family: PerfectDark;
    color: #2e3131;
    text-decoration: none;
    top: 1300px;
    left: 15%;
    font-size: 50px;
    text-align: center;
}

.GP-pubgImg{
    display: block;
    position: relative;
    top: 600px;
    left: 6%;
    height: 800px;
    width: 90%;
}

.GP-csgoTitle{
    display: block;
    position: absolute;
    font-family: PerfectDark;
    color: #2e3131;
    text-decoration: none;
    top: 2420px;
    left: 15%;
    font-size: 50px;
    text-align: center;
}

.GP-csgoImg{
    display: block;
    position: relative;
    top: 900px;
    left: 6%;
    height: 800px;
    width: 90%;
}

.GP-ffTitle{
    display: block;
    position: absolute;
    font-family: PerfectDark;
    color: #2e3131;
    text-decoration: none;
    top: 3500px;
    left: 40%;
    font-size: 50px;
    text-align: center;
}

.GP-ffImg{
    display: block;
    position: relative;
    top: 1140px;
    left: 6%;
    height: 800px;
    width: 90%;
}

.imagesArea-GP{
    display: block;
    position: relative;
    top: 1500px;
}