@font-face { font-family: neutronium; src: url(/fonts/Neutronium.ttf);}
@font-face { font-family: divlit; src: url(/fonts/divlit.ttf);}
@font-face { font-family: NeverSayDie; src: url(/fonts/NEVERSAYDIE.ttf);}
@font-face { font-family: PerfectDark; src: url(/fonts/pdark.ttf);}
@font-face { font-family: neutropolitical; src: url(/fonts/neuropolitical\ rg.ttf);}

/*----Home----*/

/*----Slider----*/

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

/*----MiniSlider----*/



.ad{
    display: block;
    position: relative;
    padding: 0;
    border: 0;
    margin: 0;
}

.ad1{
    float: left;
    display: block;
    position: relative;
    width: 508.7px;
    padding: 0;
    border: 0;
    margin: 0;
}

.ad2{
    float: left;
    display: block;
    position: relative;
    width: 508.7px;
    padding: 0;
    border: 0;
    margin: 0;
}

.ad3{
    float: left;
    display: block;
    position: relative;
    width: 508.7px;
    padding: 0;
    border: 0;
    margin: 0;
}

.imagesArea-home{
    position: relative;
    top: 0px;
}

.imagesArea{
    background: #2e3131;
}

.gameImage{
    background: #2e3131;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 379.7px;
    height: 200px;
}

/*----PRODUCTS----*/

ul{
	list-style:none;
}
a{
	text-decoration:none;
}

.slider2{
	width:100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 100px 0;
}

.slider2Header{
	display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	padding: 100px 0 0 0;
	font-family: neutronium;
	font-size: 70px;
}

.slidercontainer{
	width:100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.box{
	width:350px;
	height:400px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
    padding: 20px 10px 15px 10px;
	margin: 25px 10px;
}

.imgBox{
	padding: 5px;
	background-color: #ffffff;
	border-radius: 6px;
}

.model{
	height: 150px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
}
.details p{
	font-family: neutropolitical;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 0px;
}
.productName{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: neutronium;
	font-size: 25px;
}
.logo{
	height: 40px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .productName{
	color:#c0292b;
	transition: all ease 0.5s;
}
.box:hover .details p{
	color:#5e5e5e;
	transition: all ease 0.5s;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}
