/*--Top Section--*/
.brandName{
    text-align: center;
    padding: 50px 0 0 0;
}
.brandName p{
    font-size: 30px;
    font-family: 'rock salt',cursive;
}

.slogan{
    text-align: center;
    padding: 25px 0 10px 0;
    width: 45%;
    transform: translate(60%,0);
}
.slogan p{
    font-size: 40px;
    font-family: caveatBrush;
}
.slogan span{
    font-size: 30px;
    font-family: 'rock salt',cursive;
}

.mvContainer{
    display: flex;
    padding: 0 0 30px 0;
}
.missionContainer{
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
}
.missionHeading{
    font-size: 30px;
    font-family: itim;
}
.missionContent{
    width: 500px;
    transform: translate(25%,0);
}
.visionContainer{
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
}
.visionHeading{
    font-size: 30px;
    font-family: itim;
}
.visionContent{
    width: 500px;
    transform: translate(25%,0);
}

/*--Middle Section--*/
.WhatWeDo{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 50px 30px 10px 30px;
}
.descHeading{
    font-size: 30px;
    font-family: itim;
}
.descContent{
    width: 700px;
    padding: 0 50px 0 50px;
}
.descContent p{
    transform: translate(10%,0);
}
.descContainer video{
    padding: 10px 50px 10px 50px;
}

.HowWeDo{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 100px 30px 10px 30px;
}
