/* .heading{
    position: relative;
    padding-top: 50px;
}
.heading::before{
    content: '';
    position: absolute;
    height: 70vh;
    width: 92vw;
    background: linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0.512),rgba(32, 32, 32, 0.49)) ,url('/img/landing2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 20px;
}
.heading h1.title{
    font-size: 2.5rem;
    font-family: 'Lobster';
    text-align: center;
    padding-top: 5%;
}
@media (max-width: 426px){
    .heading{
        display: none;
    }
} */