*{
    margin: 0;
    padding: 0;
}

@font-face { font-family: neutronium; src: url(/fonts/Neutronium.ttf);}
@font-face { font-family: divlit; src: url(/fonts/divlit.ttf);}
@font-face { font-family: NeverSayDie; src: url(/fonts/NEVERSAYDIE.ttf);}
@font-face { font-family: PerfectDark; src: url(/fonts/pdark.ttf);}
@font-face { font-family: neutropolitical; src: url(/fonts/neuropolitical\ rg.ttf);}

.maintanence{
    display: block;
    width: 1550px;
}

::-webkit-scrollbar{
	width : 10px;
}

::-webkit-scrollbar-track{
	border:5px solid #070707;
	box-shadow: inset 0 0 0px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb{
	background:linear-gradient(
		45deg,
		#000000,
		#317ace,
		#000000
	);
	border-radius: 3px;
}



/*----Navigation----*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: PerfectDark;
}

.vor{
    display: block;
    position: absolute;
    left: 100px;
    top: 30px;
    color: #2e3131;
}

.navbar-brand img{
    position: relative;
    float: left;
    height: 70px;
    padding: 8px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #007bff!important;
}

.navbar{
    background: #fff;
}

.navbar-toggler{
    border: none!important;
}

.nav-link{
    color: #555!important;
    font-weight: 350;
    font-size: 16px;
}

.search-bar{
    display: none; /*Temporary disabled search bar*/
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2e3131;
    height: 60px;
    border-radius: 40px;
    padding: 10px;

}

/*.search-txt::before{
    width: 240px;
    padding-left: 20px;
    border-left: 20px;
}

.search-txt::after{
    width: 0;
}*/
.fa-search{
    padding-top: 10px;
}
.search-btn{
    color: #bfbfbf;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2e3131;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    padding-left: 20px;
    border-left: 20px;
    
}

@media screen and (max-width : 1200px) and (min-width :800px){
    .search-txt{
        width: 0px;
        padding: 0;
        border: 0;
    }

    .search-bar:hover{
        left: 63%;
        transition: 0.5s;
        float: right!important;
    }
    
    .search-bar:hover > .search-txt{
        width: 240px;
        padding-left: 20px;
        border-left: 20px;
    }

}

@media screen and (max-width : 800px){
    .vor{
        display: none;
    }

    .search-txt{
        width: 0px;
        padding: 0;
        border: 0;
    }

    .search-bar:hover > .search-txt{
        width: 150px;
        padding-left: 20px;
        border-left: 20px;
    }
}



/*----Mobile view----*/

@media screen and (max-width : 800px){
    .ad3{
        display: none;
    }

    .ad2{
        display: none;
    }

    .ad1{
        width: 785px;
        height: 200px;
    }

    .gameImage{
       width: 391.5px; 
    }
}