.team{
    width: 100%;
    text-align: center;
    padding: 50px 0 30px 0;
}
.teamHeading{
    font-size: 40px;
    font-family: itim;
}
.teamDesc{
    padding: 5px 100px 5px 100px;
}

/*--Members--*/
.ourTeam{
    width: 100%;
    text-align: center;
    padding: 30px 0 10px 0;
}
.ourTeam p{
    font-size: 40px;
    font-family: itim;
}
.members{
    display: inline-block;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 100px 30px;
}
.member{
    display: inline-block;
    padding: 0 5px 0 5px;
}
.outline{
    padding: 1px;
    background-color: #a4a4a5;
    transition: all 0.3s ease;
    /* box-shadow: 2px 10px 12px rgba(0,0,0,0.5); */
}
.outline:hover{
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.box{
    height: 700px;
    width: 300px;
    background-color: white;
}
.memberName{
    font-size: 25px;
    font-family: rock salt;
    padding: 30px 0 10px 0;
}
.memberImg{
    height: 300px!important;
    padding: 10px;
}
.memberRole{
    font-size: 20px;
    padding: 10px;
}
.memberDesc{
    width: 200px;
    transform: translate(25%,0);
}