.vHeading{
    text-align: center;
    font-size: 40px;
    font-family: rock salt;
    padding: 50px 0 40px 0;
}

/*--Reason--*/
.reasonContainer{
    padding: 30px 0 30px 100px;
    display: inline-block;
    width: 100%;
}
.reason{
    float: left;
}
.rHeading{
    font-family: itim;
    font-size: 30px;
}
.rHeading span{
    font-family: rock salt;
    font-size: 17px;
    font-weight: 1000;
}
.rContent{
    float: left;
    width: 700px;
}
.rImg{
    width: 450px;
    float: right;
    padding: 10px 10px 30x 0;
}

/*--Eligible--*/
.eligibleContainer{
    padding: 0 0 50px 100px;
    display: inline-block;
}
.eImg{
    float: left;
    width: 500px;
}
.eligible{
    float: right;
    width: 900px;
    padding: 100px 30px 20px 100px;
}
.eHeading{
    font-family: itim;
    font-size: 30px;
}

.eligibleVideo{
    text-align: center;
    padding: 50px 0 50px 0;
}

/*How To Join Us*/
.htjheader{
    font-family: caveatBrush;
    font-size: 50px;
    text-align: center;
    padding: 50px 0 30px 0;
}
.htjcontent{
    padding: 30px 0 200px 200px;
}
.htjsubHeading{
    font-family: itim;
    font-size: 30px;
}
.htjsubContent{
    font-size: 20px;
    width: 70%;
    padding: 0 0 0 30px;
}
.vaButton{
    color: #2e3131;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.vaButton:hover{
    color: #5b5e5e;
    transition: all 0.3s ease;
}
